HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.gradle
build
resources/static/files/
/src/main/resources/static/files/5f724212-229a-463d-b7dc-9a6361cae53b_할수있다 사진.png
/src/main/resources/static/files/290eaf62-005b-4b85-b083-1701fe1c4e79_justdoit.png
/src/main/resources/static/files/1120218d-506a-42c1-b385-d539e18400a0_justdoit.png
/src/main/resources/static/files/ad3baa4a-6f88-4ce3-8b99-377a3f904507_just do it.png
/src/main/resources/static/files/bbeb2541-68fa-4827-a629-cbc7477e6238_justdoit.png
/src/main/resources/static/files/d4e8bd5d-9675-4ace-9e71-8a2756665865_justdoit.png
